
body{
    margin: 0;
    padding: 0;
}
.left {
    float: left;
    font-size: 20px;
    padding: 10px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.center {
    text-align: center;
    padding: 10px;
}
.center a {
    color: black;
    text-decoration: none;
    margin: 0 20px; 
    padding-top: 30px;
}
.right {
    float: right;
    color: black;
    text-align: right;
    margin: 0 10;
}
.color{
    color: red;
}
nav .center,.right{
    color: antiquewhite;
}
.rounded-rectangle {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-container,
.image-container {
    flex: 1;
    padding: 20px;
}

.text-container {
    background-color: #f0f0f0;
}

.text-container p {
    margin: 0;
}

.image-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.rounded-button {
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rounded-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.rounded-button:hover {
    background-color: #0056b3;
}
.aa{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.bb{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.medium-square {
    width: 160px; 
    height: 160px; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px; 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

img {
    max-width: 100%; 
    border-radius: 20px;
}
.container {
    display: flex;
    width: 80%;
}

.photo-side {
    flex: 1; 
}

.text-side {
    flex: 1;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center; 
}
.foodie{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}
.btn2 img{
    width: 16px; 
    height: 16px; 
    margin-right: 5px; 
}
.btn3 img{
    width: 25px;
    height: 25px;
}
.btn3{
    border-radius: 30px;
    background-color: white;
    color: black;
    width: 35%;
}
.bt img{
    width: 25px;
    height: 25px;
}
.bt{
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 35%;
    margin-left: 40%;
}
.btt img{
    width: 25px;
    height: 25px;
}
.btt{
    border-radius: 10px;
    background-color: lightcyan;
    color: black;
    width: 15%;
    margin-left: 65%;
}
.btn2{
    margin-top: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 10px 20px;
    margin-left: 40%;
}
.btn2 img{
    height: 40px;
    width: 40px;
}
.square {
    position: relative;
    width: 200px; 
    height: 200px; 
    background-color: #f0f0f0;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heart {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color:aliceblue;
    color: red;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.cen {
    text-align: center;
    margin-top: 10px;
}
.con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rounded {
    background-image:url('https://image.freepik.com/free-photo/vegan-food-white-background-with-copy-space_23-2148305769.jpg');
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    position: relative;
    height: 400px;
    width: 1000px;
}

h2 {
    margin: 0;
}

input, button {
    justify-content: center;
    width: 20%;
    padding: 10px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    float:unset;
}

button {
    background-color:black;
    color: #fff;
    border: none;
    cursor: pointer;
}
.h22{
    margin-top: 20%;
}
.men img{
    height: 16px;
    width: 16px;
    border-radius: 50px;
}